@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}

body {
  width: 100%;
  height: 100%;
  color: rqb(102, 102, 102);
  font-size: 1em;
  font-family: Poppins;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

.about_main .collection_section {
  width: 100%;
  float: left;
  margin-top: 40px;
}

.about_main .collection_section .container .new_text {
  width: 100%;
  float: left;
  font-size: 2em;
  color: rgb(12, 1, 22);
}

.about_main .collection_section .container .consectetur_text {
  width: 100%;
  float: left;
  font-size: 1.2em;
  color: rgb(12, 1, 22);
  font-weight: 400;
  margin-left: Opx;
  padding-bottom: 30px;
}

.about_main .collection_section_3 {
  width: 100%;
  float: left;
  padding-top: 0px;
}

.about_main .collection_section_3 .container .racing_shoes {
  width: 100%;
  float: left;
  background-color: rgb(234, 231, 231);
  height: auto;
  padding-top: 70px;
  background-size: 100%;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.about_main .collection_section_3 .container .racing_shoes .shoes-img3 {
  width: 100%;
  float: left;
  text-align: center;
}

.about_main .collection_section_3 .container .racing_shoes .shoes-img3 img {
  margin-top: 4em;
  width: 70%;
}

.collection_text {
  width: 100%;
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Syncopate", sans-serif;
  font-weight: bold;
  font-size: 3em;
  background-color: rgb(207, 67, 79);
  padding: 30px 0px;
}

.about_main .collection_section_3 .container .racing_shoes .sale_text {
  width: 100%;
  float: left;
  font-size: 3em;
  color: rgb(207, 67, 79);
  line-height: 75px;
}

.collection_section_3 .container .racing_shoes .number_text {
  width: 100%;
  float: left;
  font-size: 3em;
  line-height: 75px;

}

.collection_section_3 .container .racing_shoes .seemore {
  width: 80%;
  height: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(207, 67, 79);
  font-size: 1.7em;
  margin-top: 35px;
}

.copyright {
  width: 100%;
  float: left;
  font-size: 1em;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0px;
  background-color: rgb(207, 67, 79);
  font-family: Poppins;
}
